.image-newletter{
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height:22rem;
}

.newsletter{
    position: relative;
}

.join{
    position:absolute;
    top:20%;
    color:white;
    left:45%;
    font-size:1.8vw;
}

.now{
    position:absolute;
    top:30%;
    left:35%;
    color:white;
    font-size:3.8vw;
}

.subscribe{
    position:absolute;
    top:60%;
    left:60.5%;
    height:16.5%;
    width:10%;
    background-color:#eb3e32;
    color:white;
    border:none;
    cursor:pointer;
    font-size:1vw;
}

.subscribe:hover{
    color:black;
}

.textbox{
   position:absolute;
   top:60%;
   left:30%;
   width:30%;
   height:15%;
}

@media only screen and (max-width: 1350px) {
    .image-newletter{
        height:22rem;
    }

    .subscribe{
        font-size:1.2vw;
        
    }

}

@media only screen and (max-width: 897px) {
    .image-newletter{
        height:18rem;
    }

    .subscribe{
        font-size:1.5vw;
        width: 20%;
        left: 62%;
        top: 50%;
        
    }

    .join{
        font-size:3.5vw;
    }

    .now{
        font-size:4.5vw;
    }

    .textbox {
        position: absolute;
        top: 50%;
        left: 10%;
        width: 50%;
        height: 15%;
    }

}

@media only screen and (max-width: 497px) {
    .image-newletter{
        height:18rem;
    }

    .subscribe{
        font-size:2.5vw;
        width: 20%;
        left: 62%;
        top: 50%;
                
    }

    .join{
        font-size:3.5vw;
    }

    .now{
        font-size:4.5vw;
    }

    .textbox {
        position: absolute;
        top: 50%;
        left: 10%;
        width: 50%;
        height: 15%;
    }

    
}